<div class="panel panel-default" id="rspec_category_selecter">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each_with_index do |taxonomy, i| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target=<%= "#taxonomy-#{i}" %>><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id=<%= "taxonomy-#{i}" %> class="collapse collapseItem">
              <% taxonomy.taxons.leaves.each do |taxon| %>
                <li>
                  <%= link_to(potepan_category_path(taxon.id)) do %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %><span>(<%= taxon.all_products.count %>)</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>